## config file for akutils RADseq utility scripts.
##
## Modify as necessary.
## Consdier using the config utility to make changes to this file.
##
## Format is one item per line.  <settings> <tab> <path-to-file or fixed value>
##

## Lines with hashes are ignored.
## Settings descriptions:

## GENERAL SETTINGS BELOW HERE
##	CPU_cores	(Number of CPU cores to utilize during analysis - default 2)
##	Qual_score	(Minimum q-score for input data - default 19, yields q20 or better)
##	Read_length	(length in bases to retain for each read during quality filtering - default 75)
##	Multx_errors	(Indexing errors allowed during demultiplexing - default 1)
##	Batch_ID	(Integer value to identify sample batch - 1 is fine unless adding new data to existing analysis)

## ustacks SETTINGS BELOW HERE
##	Min_depth	(Minimum depth to create a stack, -m in ustacks or report a stack, -m in pstacks - default 2)
##	Max_stacks_dist	(Maximum distance allowed between stacks, -M in ustacks - default 2)
##	Max_dist_align	(Maximum distance allowed to align secondary reads to primary stacks, -N in ustacks - default 4)
##	Removal_alg	(Enable removal algorithm, -r in ustacks YES/NO - default YES)
##	Deleverage_alg	(Enable deleveraging algorithm, -d in ustacks YES/NO - default YES)

## cstacks SETTINGS BELOW HERE
##	Duplicate_match	(Include tags in catalog matching more than one entry, -m in cstacks YES/NO - default NO)
##	Tag_mismatches	(Allowable mismatches between sample tags when generating catalog, -n in cstacks - default 4)
##	Catalog_match	(Catalog matching based on genomic location or sequence identity, -g in cstacks and sstacks GENOMIC/IDENTITY - default IDENTITY)

## pstacks SETTINGS BELOW HERE

## sstacks SETTINGS BELOW HERE

## rxtacks SETTINGS BELOW HERE

## populations SETTINGS BELOW HERE
## 	Min_perc_pop	(Minimum percent of indiviuals in a population to process a locus, -r in populations - default 0.75)
##	Min_pops	(Minimum number of populations a locus must be present in, -p in populations - default 2)
##	Min_stack_depth	(Minimum stack depth for individuals at a locus, -m in populations - default 2)
##	Fstats	(Enable SNP and haplotype-based F statistics, --fstats in populations YES/NO - default YES)
##	Single_snp	(Analyze only the first SNP per locus, --write_single_snp in populations YES/NO - default NO)
##	Random_snp	(Analyze only a random SNP per locus, --write_random_snp in populations YES/NO - default NO)
##	Kernel_smooth	(Enable kernal-smoothed F-stats, -k in populations YES/NO - default NO)
##	Window_size	(Distance over which to average kernel-smoothed values, --window size in populations DEFAULT/<integer> - default DEFAULT

## other SETTINGS BELOW HERE
##	Load_mysql	(Whether to load output into mysql YES/NO - default YES)
##	Compress_output	(Whether to compress output upon completion YES/NO - default NO)

## Configured settings below (without leading "#" characters).  Order below defines order in which config utility modifies settings.
CPU_cores	2
Qual_score	19
Read_length	75
Multx_errors	1
Batch_ID	1
Min_depth	2
Max_stacks_dist	2
Max_dist_align	4
Removal_alg	YES
Deleverage_alg	YES
Duplicate_match	NO
Tag_mismatches	4
Catalog_match	IDENTITY
Min_perc_pop	0.75
Min_pops	2
Min_stack_depth	2
Fstats	YES
Single_snp	NO
Random_snp	NO
Kernel_smooth	NO
Window_size	DEFAULT
Load_mysql	YES
Compress_output	NO
